<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Selfiegram 1.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Selfiegram.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SelfiegramUITests2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC8697AB2FC4151A005A166F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEE4D222FB8E1850055C5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEE4D382FB8E1850055C5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEE4D422FB8E1850055C5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
